.button-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  border-radius: 8px;

  color: var(--white);
}

.color-button.button-active:hover{
  background-color: var(--primary3);
}

.color-button.button-active:active{
  background-color: var(--primary1);
  border: 1px solid var(--primary2);
}

.button-size-medium {
  height: 36px;
}

.button-size-large {
  height: 42px;
}

.button-font-medium {
  font-size: 14px;
  line-height: 20px;
}

.button-font-large {
  font-size: 16px;
  line-height: 22px;
}

.button-font-color-white {
  color: var(--white);
}

.button-font-color-black {
  color: var(--title-active);
}

.button-font-color-mint {
  color: var(--primary1);
}

.button-font-color-grey {
  color: var(--grey1);
}

.color-button.button-active {
  background-color: var(--primary1);
}

.color-button.button-disable {
  background-color: var(--primary2);
}

.text-button {
  background-color: transparent;
}

.button-active {
  cursor: pointer;
}

.category-button--container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0px 2px 0px 2px;
  height: 28px;
  border-radius: 14px;
  cursor: pointer;
} 

.category-button--container > p {
  font-size: 14px;
  line-height: 20px;
  margin: auto 16px auto 16px;
}

.category-button__active {
  background-color: var(--primary1);
  color: var(--white);
  columns: var(--grey1);
}

.category-button__deactive {
  background-color: var(--white);
  border: 1px solid var(--grey3);
}

.like.active svg {
  fill: var(--primary1);
}

.like.active path{
  stroke: var(--primary1);
}

.dot-menu {
  display: flex;
  border-radius: 80%;
  align-items: center;
  cursor: pointer;
}

.dot-menu:hover {
  background-color: var(--off-white);
}