.fab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: var(--primary1);
  bottom: 16px;
  right: 16px;
}