:root {
  --title-active:#222222;
  --grey1: #888888;
  --grey2: #BBBBBB;
  --grey3: #D7D7D7;
  --off-white: #F6F6F6;
  --white: #FFFFFF;
  --primary1: #2AC1BC;
  --primary2: #A0E1E0;
  --primary3: #219A95;
  --error: #F45452;
}