:root {
  --title-active:#222222;
  --grey1: #888888;
  --grey2: #BBBBBB;
  --grey3: #D7D7D7;
  --off-white: #F6F6F6;
  --white: #FFFFFF;
  --primary1: #2AC1BC;
  --primary2: #A0E1E0;
  --primary3: #219A95;
  --error: #F45452;
  --text-large: 18px/24px inherit;
  --text-medium: 16px/22px inherit;
  --text-small: 14px/20px inherit;
  --text-x-small: 12px/16px inherit;
  --link-medium: normal bold 16px/22px defaultFont;
  --link-small: normal bold 14px/20px defaultFont;
  --link-x-small: normal bold 12px/16px defaultFont;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img {
  background-color: var(--off-white);
  border: 1px solid #D7D7D7;
  /* overflow: hidden; */
}

.img > img {
  width: 100%;
  height: 100%;
}

.img-small {
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

.img-medium {
  border-radius: 8px;
  width: 76px;
  height: 76px;
}

.img-large {
  border-radius: 10px;
  width: 106px;
  height: 106px;
}

.img-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-btn > .img-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-counter > span {
  margin-top: 7px;
}

.img-erase {
  position: relative;
}

.erase-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--title-active);
  top: 0;
  right: 0;
  transform: translate(35%, -35%);
}

.dest-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
  
.fadeInRight { 
  /* 오른쪽에서 나오는 애니메이션 */
  animation-name: fadeInRight;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.fadeInLeft { 
  /* 왼쪽에서 나오는 애니메이션 */
  animation-name: fadeInLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.fadeOutRight { 
  /* 오른쪽에서 나오는 애니메이션 */
  animation-name: fadeOutRight;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.fadeOutLeft { 
  /* 왼쪽에서 나오는 애니메이션 */
  animation-name: fadeOutLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInRight {
  from {
    top: 0vh;
    right: -100vw;
  }
  to {
    top: 0vh;
    right: 0vw;
  }
}

@keyframes fadeInLeft {
  from {
    top: 0vh;
    right: 100vw;
  }
  to {
    top: 0vh;
    right: 0vw;
  }
}

@keyframes fadeOutRight {
  from {
    top: 0vh;
    right: 0vw;
  }
  to {
    top: 0vh;
    right: -100vw;
  }
}

@keyframes fadeOutLeft {
  from {
    top: 0vh;
    right: 0vw;
  }
  to {
    top: 0vh;
    right: 100vw;
  }
}