.login-content-container {
  width: 100%;
  background-color: var(--white);
  padding: 24px 15px 0px 15px;
}

.login-content-container > .input-container {
  margin-bottom: 24px;
}

.login-content-container > .text-button {
  margin-top: 24px;
}