.menu-content-container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.menu-tab {
  display: grid;
  height: 50px;
  background-color: var(--off-white);
  grid-template-columns: repeat(3, 1fr);
  font: var(--link-small);
  justify-items: center;
}

.tablink {
  width: 85%;
}