.main-contianer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  overflow: auto;
}

.main-contianer .list-item{
  margin-top: 56px;
}

.main-contianer .list-item ~ .list-item{
  margin-top: 0px;
}
