.input-container { 
  width: 100%;
}

.input-container > input {
  border-style: none; 
  border: 1px solid var(--grey3);
  border-radius: 8px;
  padding: 10px 16px 8px 16px;
  width: 100%;
  color: var(--title-active);
}

.input-container > p {
  width: 100%;
  color: var(--title-active);
}

.font-medium{
  height: 36px;
  line-height: 20px;
  font-size: 14px;
}

.font-large {
  height: 40px;
  font-size: 16px;
  line-height: 22px;
}

.input-medium {
  padding-left: 8px;
}

.input-large {
  padding-left: 16px;
}

.input-container > input::placeholder {
  color: var(--grey1);
}

.input-container > input:focus {
  border-style: none; 
  outline: none;
  border: 1px solid var(--primary1);
  border-radius: 8px;
}