.drop-downs-items {
  row-gap: 1px;
  width: 165px;
  background-color: var(--grey3);
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

.drop-downs-items .drop-down-item {
  background-color: var(--off-white);
  padding: 16px;
  font: var(--link-small);
  color: var(--black);
}

.drop-downs-items .drop-down-item:hover {
  background-color: var(--grey2);
}

.drop-downs-items .drop-down-item:not(:last-child) {
  margin-bottom: 1px;
}