.product--container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: relative;
}

.product--middle--container {
  width: 100%;
  height: calc(100% - 68px);
  overflow: scroll;
}

.product-content__container { 
  width: 100%;
  height: auto 0;
  padding: 0px 16px 0px 16px
}

.product-content__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 24px;
}

.product-content__title__text {
  color: var(--title-active);
  font-size: 18px;
  line-height: 24px;
}

.product-content__title__sub {
  margin-top: 8px;
  color: var(--grey1);
  font-size: 12px;
  line-height: 16px;
}

.product-content__content {
  margin-top: 16px;
}

.product-content__content__text {
  color: var(--title-active);
  font-size: 16px;
  line-height: 22px;
}

.product-content__meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 24px;
}

.product-content__meta {
  color: var(--grey1);
  font-size: 12px;
  line-height: 16px;
}

.product-content__user {
  width: 100%;
  height: 48px;
  margin: 24px 0px 24px 0px;
  padding: 0px 16px 0px 16px;
  background-color: var(--off-white);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  align-items: center;
}

.product-content__seller__title{
  grid-column: auto / span 3;
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
}

.product-content__seller__id{
  grid-column: auto / span 2;
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
}

.product-content__seller__location{
  grid-column: auto / span 1;
  color: var(--grey2);
  font-size: 14px;
  line-height: 16px;
}

.product-bar--container{ 
  position: absolute;
  height: 68px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 0px 16px 0px 16px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 100%;
  align-items: center;

  border-top: 1px solid var(--grey3);
}

.product-bar--container > img{
  grid-column: 1 / 2;
  grid-row: 1;
  margin: 8px;
}

.product-bar--empty-div {
  grid-column: auto / span 1;
  grid-row: 1;
}

.product-bar--vertical-line {
  width: 1px;
  height: 36px;
  margin-left: 16px;
  background-color: var(--grey3);
  grid-column: auto / span 1;
  grid-row: 1;
}

.product-bar--container > p{
  font-size: 14px;
  line-height: 100%;
  margin-left: 16px;
  grid-column: auto / span 5;
  grid-row: 1;
}

.product-bar--container > button{
  height: 36px;
  background-color: var(--primary1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  grid-column: auto / span 7;
  grid-row: 1;
  cursor: pointer;
}

.deactive-bar--button {
  background-color: var(--primary2);
  cursor: default;
}

.product-bar--container > button{
  height: 36px;
  background-color: var(--primary1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  grid-column: auto / span 7;
  grid-row: 1;
}

.seller-button__container {
  width: 105px;
  height: 40px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 24px 0px 24px 16px;

  border: 1px solid var(--grey3);
  border-radius: 8px;
  position: relative;
}

.seller-button__container > p {
  font-size: 14px;
  line-height: 20px;
  color: var(--title-active);
  margin-right: 8px;
}

.seller-drop-down__container {
  position: absolute;
  width: 105px;
  margin-top: 50%;
  background-color: var(--off-white);
  border: 0.5px solid var(--grey3);
  overflow: hidden;
  cursor:pointer;
}
.seller-drop-down__container:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.seller-drop-down__container:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.seller-drop-down__item {
  border-bottom: 0.5px solid var(--grey3);
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
